* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: white;
    padding: 20px;
    height: 20px;
}

.choice:hover {
    opacity: 0.5;
    border: 10px solid #081b31;
    border-radius: 50%;
    cursor: pointer;
}

.choice {
    height: 150px;
    width: 150px;
    box-sizing: border-box;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    font-size: 13px;
}

#user-score,
#computer-score {
    font-size: 15px;
    color: #081b31;
}

.mssg-container {
    margin-top: 30px;

}

#mssg {
    font-size: 20px;
    background-color: #081b31;
    color: #fff;
    display: inline;
    padding: 10px;
    border-radius: 5px;
}